footer {
  position: fixed;
  bottom: 0px;
  width: 100vw; /* vw(=view width) : 우리가 보는 화면에 (100)% 채운다라는 표현*/
  padding-bottom: 30px;
  border-top: 1px solid #eaeaea;
  padding-top: 20px;
  background-color: white;
}
.footer-block {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-icons {
  display: flex; /* 내부 요소들이 옆으로 나열됨 */
  justify-content: center;
  align-items: center;
  flex-direction: column; /* 나란히 배열된 것들을 위아래로 배치시킴 */
  margin: 0 10px 0 10px;
  cursor: pointer; /* fotter의 icon부분에 마우스가 닿으면 마우스 포인터 모양을 바꿔줌 */
}

.footer-icons__name {
  font-size: 10px;
  font-weight: bold;
  margin-top: 10px;
}
@keyframes icons-flying {
  0% {
    transform: translateY(0px);
  }
  30% {
    transform: translateY(-10px);
  }
  70% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.footer-icons__img {
  width: 30px;
}
.footer-icons:hover .footer-icons__img {
  /*footer-icons라는 블럭이 hover 됐을 때, 그 밑에 footer-icons__img에게 효과를 줌 ; 버벅이는 현상 해결*/
  animation: 2s icons-flying;
}
