footer {
  position: fixed;
  bottom: 0px;
  width: 100vw; /* vw(=view width) : 우리가 보는 화면에 (100)% 채운다라는 표현*/
  padding-bottom: 30px;
  border-top: 1px solid #eaeaea;
  padding-top: 20px;
  background-color: white;
}
.footer-block {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-icons {
  display: flex; /* 내부 요소들이 옆으로 나열됨 */
  justify-content: center;
  align-items: center;
  flex-direction: column; /* 나란히 배열된 것들을 위아래로 배치시킴 */
  margin: 0 10px 0 10px;
  cursor: pointer; /* fotter의 icon부분에 마우스가 닿으면 마우스 포인터 모양을 바꿔줌 */
}

.footer-icons__name {
  font-size: 10px;
  font-weight: bold;
  margin-top: 10px;
}

.footer-icons__img {
  width: 30px;
}
